<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datamato Smart Refrigerator System</title>
    <link rel="shortcut icon" href="/assets/images/icon_fridge.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" >
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/assets/images/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="/login" method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Pasgitsowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/about">Forgot Password?</a>
        </div>

    </div>
    <div style="font-family: 'BenchNine', sans-serif; text-align: center; vertical-align: middle;
         padding-top: 20px; color:#56baed ">@Copyright 2018 Datamato Technologies Pvt Ltd</div>
</div>
</body>
</html>