<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datamato Smart Refrigerator System</title>
    <link rel="shortcut icon" href="/assets/images/icon_fridge.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Sintony" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="d-flex justify-content-center align-items-center" style=" font-family: 'Sintony', sans-serif; height:100vh">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">We'll be right back</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" style="font-family: 'Sintony', sans-serif;">Maintenance under process</h2>
    </div>
</div>
</body>
</html>